/LibProjet/nbproject/private/
/LibProjet/dist/
/LibProjet/build/
/Client/build/
/Client/dist/
/Client/nbproject/private/
/Ministere/nbproject/private/
/Rectorat/nbproject/private/
/Universite/nbproject/private/
/Ministere/build/
/Ministere/dist/
/Universite/dist/
/Universite/build/
/Rectorat/build/
/Rectorat/dist/
Client/nbproject/private/private.properties
Client/nbproject/private/private.xml
Client/nbproject/private/private.properties
Client/nbproject/private/private.xml
Client/nbproject/private/private.properties
/UniversiteClient/nbproject/private/
/UniversiteClient/build/